/* WORLDWIDE 2 - SECTION */

.worldwide-2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  flex: 1;
}
.worldwide-2 img {
  height: 300px;
  object-fit: cover;
  object-position: right top;
  display: block;
}
